@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&disply=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background: linear-gradient(100deg, #b4e3e2, #FBE9D0, #b4e3e2, #FBE9D0);
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Keeps the background fixed while scrolling */
}


header {
  height: 90vh;
  /* background: #000; */
}

.black {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(140deg, #FBE9D0, #b4e3e2, #FBE9D0, #b4e3e2);
  justify-content: space-around;
  transition: 1.5s;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 5px 10px;
}

nav ul li a {
  padding: 2px 10px;
  color: #2e2e2e;
  cursor: pointer;
  transition: .6s ease, transform 0.4s ease;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
  border-radius: 5px;
  transform: scale(1.1);
  font-size: 20px;
  background: linear-gradient(to right, #E64833, #bc8c80);
}

.active {
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  background: linear-gradient(to right, #E64833, #bc8c80);
}

.get-started {
  margin-left: 50px;
  padding: 5px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;

  transition: background-color 0.7s ease, transform 0.4s ease;
  background: linear-gradient(to right, #E64833, #bc8c80);
  color: #fff;
}

.get-started:hover {
  color: #2e2e2e;
  transform: scale(1.1);
  background: #c6a199;
}

.logo img {
  width: 75px;
  cursor: pointer;
  transition: all 1s;
}

a,
button {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #2E3D49;
  display: block;
  text-decoration: none;
  text-align: center;
}

.head-container {
  margin-top: 245px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Music {
  /* padding: 20px; */
  /* justify-content: center; */
  margin-top: 7%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 75px;
  padding-top: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.card {
  width: 80%;
  height: 420px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;

  /* backdrop-filter: blur(5px); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  margin-top: 0;
}

.card .text {
  padding: 50px;
  font-family: sans-serif;
}

.card h3 {
  font-size: 60px;
  margin-bottom: 10px;
  color: black;
}

.card p {
  font-size: 30px;
  color: #666;
}

.spotify {
  padding: 10px;
  width: 720px;
  height: 380px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}